<%- include('../partials/header') %>
<table>
  <thead>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Departure Date/Time</th>
    <th>Departing Airport</th>
    <th>Arrival Date/Time</th>
    <th>Arrival Airport</th>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs %></td>
      <td><%= flight.airport %></td>
      <% flight.destinations.forEach(function(place) { %>
      <div>
        <td> <%= place.arrival %> </td>
        <td><%= place.airport %></td>
      </div>
      <% }) %>
    </tr>
  </tbody>
  <h3>Update Arrival Details</h3>
  <form id="add-arrival-form" method="POST" action="/flights/<%= flight._id %>?_method=PUT">
    <label>Airport:
      <select name="airport">
        <option value="AUS">Austin</option>
        <option value="DAL">Dallas</option>
        <option value="LAX">Los Angeles</option>
        <option value="SAN">San Diego</option>
        <option value="SEA">Seattle</option>
      </select>
    </label><br>
    <label>Arrival Date
      <input type="datetime-local" name="arrival">
    </label>
    <input type="submit" value="Add Arrival">
  </form>
   <button>
      <a href="/flights/<%= flight._id %>/tickets/new">Add a new ticket</a>
   </button>
    <table>
      <thead>
        <th>Seat</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr>
          <% tickets.forEach(function(ticket){ %>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
        <% })%>
      </tbody>
    </table>
<%- include('../partials/footer') %>